.tree {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 1em;
  overflow-y: auto;
  background-color: rgb(86, 119, 75);
}
.tree .section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tree .section.closed {
  display: none;
}

.tree .section .head {
  display: flex;
  align-items: center;
}

.tree .section .head .action {
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
}
.tree .section .head .action svg {
  height: 1.5em;
  max-width: 1em;
}

.tree .section .head .action svg * {
  stroke: var(--c-text);
}

.tree .section .group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.tree .section .group .line {
  width: 1em;
  position: relative;
  margin-right: 0.5em;
}

.tree .section .group .line div {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  border-left: 1px solid var(--c-text-scnd);
}

.tree .section .group .items {
  flex-grow: 1;
}

.tree .leaf {
  display: flex;
  align-items: center;
}

.tree .item .symbol {
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
}

.tree .item .symbol svg {
  height: 1.5em;
  max-width: 1em;
}
.tree .item .symbol svg * {
  stroke: var(--c-text);
}

.tree .item .checkbox {
   margin-left: auto;
   padding: 0em 1em;
   position: sticky;
   right: 0;
}

.tree .item:hover {
  background-color: var(--c-bg-dark);
  border-radius: var(--r-border);
  cursor: pointer;
}
