<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {{ turbo() }}
</head>
<body>
    Yayyy
    <br>
    <div id="health-check">
        Healthy: {{ healthy }}
    </div>
    <div>
        <input type="text" id="userInput" placeholder="Enter text">
        <button onclick="sendRequest()">Submit</button>
    </div>
    <div id="response">
        Response: <span id="responseText"></span>
    </div>
    <div id="sample-progress-bar">
        <div class="progress" style="width: 0em;background:red;"></div>
    </div>
    <div>
        <button onclick="startSampleProcess()">Start Sample Process</button>
        <div id="task-id">
            Task ID: <span id="taskIdText"></span>
        </div>
    </div>
    <div>
        <button onclick="fetchTaskResult()">Get Task Result</button>
        <div id="task-result">
            Task Result: <span id="taskResultText"></span>
        </div>
    </div>
    <script>
        async function fetchTaskResult() {
            const taskId = document.getElementById('taskIdText').textContent;
            if (!taskId || taskId === 'No Task ID') {
            document.getElementById('taskResultText').textContent = 'Invalid Task ID';
            return;
            }

            const pollTaskResult = async () => {
            try {
                const response = await fetch(`/task/${taskId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
                });
                const data = await response.json();
                document.getElementById('taskResultText').textContent = JSON.stringify(data) || 'No result';

                if (data.ready) {
                clearInterval(intervalId);
                }
            } catch (error) {
                document.getElementById('taskResultText').textContent = 'Error occurred';
                clearInterval(intervalId);
            }
            };

            const intervalId = setInterval(pollTaskResult, 200);
        }
        async function startSampleProcess() {
            try {
                const response = await fetch('/startsampleprocess', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data = await response.json();
                document.getElementById('taskIdText').textContent = data.task_id || 'No Task ID';
            } catch (error) {
                document.getElementById('taskIdText').textContent = 'Error occurred';
            }
        }
        async function sendRequest() {
            const userInput = document.getElementById('userInput').value;
            try {
                const response = await fetch('/getLower', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ code: userInput })
                });
                const data = await response.json();
                document.getElementById('responseText').textContent = data.result || 'No response';
            } catch (error) {
                document.getElementById('responseText').textContent = 'Error occurred';
            }
        }
    </script>
</body>
</html>